<p>Here are all your cars</p>
<p> <% @cars.each do |car| %>
  <%= car.year %><br>
  <%= car.make %><br>
  <%= car.model %><br>
  <%= car.description %><br>
  <a href="/cars/<%= car.slug %>/edit">Click here to edit this car</a><br>
  <form method="post" action="/cars/<%= @car.slug %>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <button type="submit" name="Delete Car">Click here to delete this car</button>
  </form>
<% end %></p>
<p>Click <a href="/cars/new">here</a> to add a car</p>
<p><a href="/logout">Logout</a></p>
